div:hover{
    border: solid blue;
   
}
div:nth-child(3){
    color:red;
}
div:nth-child(4){
    color: blue;
}  
div:nth-child(5){
    color: chocolate;
    font-size: x-large;
}
div:nth-child(6){
    color: darkblue;
}
div:nth-child(7){
    color: gray;
}
div:nth-child(odd){
    font-style: italic;

}