h1{
    height: 65px;
    color: orange;
}
#cor{
    background-color: orchid;
}
.corfundo{
    background-color: paleturquoise;
}
#test{
  font-weight: 600;

}
body{
  font-size: 3em;
}
#corlista1{
  background-color: yellow;
}
#corlista2{
  background-color: red;
}
#corlista3{
  background-color: brown;
}