<!doctype html>
<html>
  <head>
    <title>MVC com Express</title>
  </head>
  <body>
    <% if (message) { %>
      <div><%= message %></div>
    <% } %>
   
    <a href="/authors">Voltar para página inicial</a>
  </body>
</html>